.logdiv {
    padding-top: 200px;
  
    
 
}

button {
    margin-top: 20px;
}

.logcollast {
    color: black;
}

.bttt {
    margin-top: 26px;
}

.frmlog{
    color: #000;
  
}

.h1log {
    margin-bottom: 20px;
}